<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span>Developed by <a href="https://www.linkedin.com/in/arvchristos/" target="_blank" rel="noopener">arvchristos</a></span>
        <span>© {{ now.Year }} Powered by <a href="https://opensource.org/" target="_blank" rel="noopener">Open Source Software</a></span>
      </div>
    {{end}}
  </div>
</footer>
<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
<script src="{{ "assets/fontawesome.js" | absURL }}" crossorigin="anonymous"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{- partial "extended_footer.html" . }}
